body {
    text-align: center;
    font-size: 30px;
}

.container {
    margin: 50px;
    padding: 20px;
    display: inline-block;
    border: solid black 1px;
}

button {
    margin: 10px;
    height: 100px;
    width: 100px;
    text-align: center;
}

.result-container {
    margin: 10px;
    text-align: left;
    height: 30px;
}